html, body{
    height: 100%;
    margin: 0;
    background-image: url(../img/fondo.jpg);
}

.container{
    position: absolute;
}

.title{
    margin: 0;
}

.image{
    width: 100%;
    margin-left: 40%;
    
}

.logo{
    left: 34%;
    border-radius: 25px;
    margin-top: 90px;
    margin-bottom: 40px;
    /*box-shadow: 9px -9px 15px #000;*/
}

.trabajo{
    width: 400px;
}

nav ul{
    margin: 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(33, 199, 69, 0.9);
    border-radius: 25px;
}

nav ul a{
    text-decoration: none;
    color: #fff;
    font-family:'Francois One', sans-serif;
    font-size: 1.1em;
    padding: 20px;
    text-shadow: 1px 1px 4px #000;
}


h1{
    font-size: 8em;
    font-family:'Metal Mania', cursive;
    text-align: center;
    padding: 1px;
    color: rgba(166, 30, 245, .8);
    text-shadow: 10px -10px 9px #000;
}

h3{
    font-size: 2.5em;
    font-family:'Francois One', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color: rgba(33, 199, 69, 0.9);
    text-shadow: 5px -5px 2px #000;
    border-radius: 35px;
}

footer{
    text-align: center;
    margin-top: 15px;
}

footer a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-family:'Francois One', sans-serif;
    background: rgba(33, 199, 69, 0.9);
    border-radius: 5px;
    padding: 1px;
    text-shadow: 1px -1px 4px #000;
}

@media screen and (max-width: 480px){
    .logo{
       width: 100%;
    }

    .trabajo{
        width: 50%;
        align-items: center;
    }

    h1{
        font-size: 4.5em;
    }

@media screen and (min-width: 481px) and (max-width: 760px){
   

}

@media screen and (min-width: 761px){

}